@model FutsalApp.Models.Karyawan

@{
    ViewData["Title"] = "Delete Karyawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Yakin akan delete data Karyawan ini ?</h3>
<div>
    <h4>Delete Karyawan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomorHP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomorHP)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Kembali Ke List</a>
    </form>
</div>
