@model FutsalApp.Models.Karyawan

@{
    ViewData["Title"] = "Details Karyawan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Details Karyawan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nama)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nama)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomorHP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomorHP)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Kembali Ke List</a>
</div>
