@model IEnumerable<FutsalApp.Models.Lapangan>

@{
    ViewData["Title"] = "Lapangan List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lapangan List</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Kode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nama)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Alamat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Karyawan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Kode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nama)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Alamat)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Karyawan)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<p style="margin-top: 10px;">
    <a asp-action="Create" class="btn btn-primary" style="font-color: white">Tambah Baru</a>
</p>